body {
    background-color: #202124;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    fill: white;
    padding: 10px 14px 10px 0;
}

nav > div > svg,
nav > div > img {
    margin-left: 8px;
}

nav > div > div#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav > div > div#links > a {
    margin-left: 15px;
    font: 13px/27px Arial;
}

nav > div > div#links > a:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

nav > div > #gh-profile {
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

nav > div > #gh-profile:hover {
    background-color: rgba(232,234,237,.08);
    cursor: pointer;
}

/* nav > div > #login {
    border: 0;
    border-radius: 4px;
    padding: 9px 23px 9px 23px;
    cursor: pointer;
    color: #202124;
    background-color: #8ab4f8;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

nav > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav > div > #more {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

svg#more {
    padding: 8px 8px 8px 8px !important;
    margin-left: 19px !important;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

svg#more:hover {
    background-color: rgba(232,234,237,.08);
}

#goog-logo {
    max-width: 272px;
    margin-bottom: 26px;
}

#searchbar {
    border: 1px solid #5f6368;
    border-radius: 2rem;
    width: 41.6%;
    height: 44px;
    padding-left: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 20px;
}

#searchbar > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchbar > div > svg#lupa {
    width: 20px;
    fill: #9aa0a6;
}

#searchbar > input {
    border: none;
    outline: none;
    padding: 10px 10px 10px 13px;
    width: 100%;
    font-size: 16px;
    font-family: arial,sans-serif;
    color: #e8eaed;
    background-color: transparent;
}

#searchbar:hover,
#searchbar.focused {
    box-shadow: 0 1px 6px 0 #171717;
    background: #303134;
    border-color: rgba(223,225,229,0);
}

#underbar {
    padding-top: 9px;
    padding-bottom: 9px
}

#underbar > button {
    border: 0;
    border-radius: 4px;
    padding: 11px 16px 11px 16px;
    margin: 0 4px 0 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 500;
    background-color: #303134;
}

#underbar > button:hover,
#underbar > button:focus {
    border: 1px solid #5f6368;
    padding: 10px 15px 10px 15px;
}
